.content__container {
    height: 100%;
}

.header_title {
  margin-bottom: 20px;
}

.body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 60px;
    background-color: #fff;
    padding:20px 10px 20px 10px;
    color: #000;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.3);
}

.body_content {
    width: calc(100% - 50px);
}

.body_content_left {
}

.body_content_left div {
}

.body_content_left--inner {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 40px;
    
    
}
.body_content_left--inner p:last-child {
}
.body_content_left--inner--name {
}

.body_content_right--inner{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 40px;
}

.body_content_right--inner > div{
    
}
.research_area{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 10px;
}
.ant-btn-icon-reset{
    margin: 0 !important;
}
/* .ant-upload-list{
    display: flex;
    justify-content: center;
}
.ant-upload{
    width: 100% !important;
    height: 70px !important;
    margin-right: 0 !important;
} */
/* .ant-upload-list-item-container{
    width: 60% !important;
    height: 70px !important;
    margin-right: 0 !important;
} */
/* .ant-upload span{
    width: 100% !important;
} */

/* img{
    transform: translate3d(0px, 0px, 0px) scale3d(4, 4, 4) rotate(0deg) !important;
} */
