.info-student-title {
  color: black;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 10px;
  border-style: solid;
  border-color: darkgray;
  border-width: 2px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 20px;
}
