.sidebar{
    overflow: hidden;
    border-right: solid 1px black;
    background-color: white;
}

.sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.sidebar-brand-icon{
    width: 160px;
    padding: 24px 0 24px 0;
}

.sidebar-img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ant-menu-item{
    padding-left: 12px !important;
}